html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding: 30px 15px;
    text-align: center;
}

.navbar {
    background: #ffc107;
    color: #111;
}

.navbar a,
.navbar button {
    color: #111;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    background: #ffc107;
    color: #111;
}

.list-group,
.list-group-item.active {
    background: #ffc107;
    color: #111;
}

.page-header {
    background: #e9ecef;
    margin: 20px 0;
    padding: 30px 5px;
}